<!doctype html>
<html>
    <head>
        {% load staticfiles %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Rango</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>
            Rango says
        </h1>
        <div>
            Hey there partner! <br />
            <strong>{{boldmessage}}</strong> <br />
            <div>
                <img src="{% static "images/phone.png" %}" alt="Picture of Rango">
            </div>
        </div>
        <div>
            <a href="/rango/about">About</a> <br />
            <a href="/rango/users">Users</a> <br />
        </div>
    </body>
</html>
